<div class="header">Zenpoint Solutions</div>

<div class="body">
  <div class="construction-banner">
    v2.0 Site Under Construction

    <div class="picture-container">
      <img id="anchor" src="../assets/Look_Morty.jpg" width="200px" height="200px" />
      <div class="eye-container">
        <img src="../assets/eye.png" class="eye" style="right: 41px; top: 66px"/>
        <img src="../assets/eye.png" class="eye" style="right: 67px; top: 66px"/>
        <img src="../assets/eye.png" class="eye" style="right: 106px; top: 125px"/>
        <img src="../assets/eye.png" class="eye" style="right: 133px; top: 131px"/>
      </div>
    </div>
  </div>
</div>

<div class="footer"></div>
<router-outlet></router-outlet>
